@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lexend:wght@400;500;600;700&family=Sen:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}